---
import StyledGradient from "@components/StyledGradient";
import BaseLayout from "@layouts/BaseLayout.astro";
import type { IEvent } from "@utils/interfaces";

const events = (await Astro.glob("../pages/events/*.astro")) as IEvent[];
---

<BaseLayout title="Past Events">
  <h1><StyledGradient text="Past Events" /></h1>
  <ul>
    {
      events.map((event) => {
        return (
          <li>
            <h4>
              <a class="nav-link" href={event.url}>
                <StyledGradient text={event.eventNickname} />
              </a>
            </h4>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
