---
import Layout from "@layouts/BaseLayout.astro";
---

<Layout title="Panelists">
  <h1><span class="text-gradient">Panelists</span></h1>
</Layout>

<style>
  .link-card-grid {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  @media screen and (min-width: 768px) {
    .link-card-grid {
      display: flex;
      flex-direction: row;
      padding: 0;
    }
  }
</style>
