---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import dianaImage from "../assets/DianaProfile.jpg";
import erickaImage from "../assets/ErickaProfile.jpg";
import joshuaImage from "../assets/JoshuaProfile.jpg";
---

<Layout title="Panelists">
  <main>
    <h1><span class="text-gradient">Panelists</span></h1>
    <ul role="list" class="link-card-grid">
      <Card
        company="Square"
        name="Diana Lin"
        pronouns="(she/her/hers)"
        routeKey="diana-lin"
        src={dianaImage}
        title="Software Engineer"
      />
      <Card
        company="PayPal"
        name="Ericka Koyama"
        pronouns="(she/her/hers)"
        routeKey="ericka-koyama"
        src={erickaImage}
        title="Software Engineer"
      />
      <Card
        company="Pepperdata"
        name="Joshua Wu"
        pronouns="(he/him/his)"
        routeKey="joshua-wu"
        src={joshuaImage}
        title="Frontend Engineer"
      />
    </ul>
  </main>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
