---
import StyledGradient from "./StyledGradient";

// const speakers = await Astro.glob("../pages/speakers/*.astro");
const events = (await Astro.glob("../pages/events/*.astro")) as IEvent[];
---

<div class="header">
  <a class="nav-link header-home" href="/">
    <StyledGradient text="///" />
  </a>
  {
    events.map((event) => {
      return (
        <a class="nav-link" href={event.url}>
          <StyledGradient text={event.eventName} />
        </a>
      );
    })
  }
</div>

<style>
  .header {
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  .header > a {
    font-weight: 600;
    text-decoration: none;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    padding: 0.5rem;
  }

  .header > a:hover {
    text-decoration: underline;
  }

  .header-home {
    letter-spacing: 0.2rem;
  }

  @media screen and (min-width: 480px) {
    .header {
      bottom: 0;
      left: 0;
      top: 0;
      width: 300px;
      display: flex;
      flex-direction: column;
    }
  }
</style>
