---
// Setup navigation only if needed later
// import Navigation from "@components/Navigation.astro";
import "@fontsource/atkinson-hyperlegible"; // Defaults to weight 400
import "@fontsource/atkinson-hyperlegible/400.css"; // Specify weight
import "@fontsource/atkinson-hyperlegible/400-italic.css"; // Specify weight and style
import { ViewTransitions } from "astro:transitions";
import { Icon } from "astro-icon/components";

export interface Props {
  title: string;
  footerLabel?: string;
  footerRoute?: string;
}

const { title, footerLabel, footerRoute } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Panelist info presentation" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main transition:animate="slide">
      <slot />
    </main>
    <footer>
      <div>
        <a href="/all">All Talks</a>
        <span class="spacer">{" | "}</span>
        <a href="/presentations">All Presentations</a>
        <span class="spacer">{" | "}</span>
        <a href="/resources">Resources</a>
        <span class="spacer">{" | "}</span>
        {footerRoute ? <a href={footerRoute}>{footerLabel}</a> : footerLabel}
      </div>
      <div>
        <a href="https://github.com/jwu910/panelists"
          ><Icon name="mdi:github" />{" See the Source Code"}</a
        >
        <span class="spacer">{" | "}</span>
        <a href="https://netlify.com"
          ><Icon name="mdi:microsoft-internet-explorer" />{
            " Hosted for FREE on Netlify"
          }</a
        >
      </div>
    </footer>
    <style is:global lang="scss">
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
        --gradient-bg-color: #d0b7eb;
        color: #444;
      }

      html {
        font-family: "Atkinson Hyperlegible", system-ui, sans-serif;
        background-color: #f6f6f6;
      }

      * {
        box-sizing: border-box;
      }

      body {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin: 0;
        width: 100vw;
        min-height: 100vh;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      main {
        padding: 0 1rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
      }

      footer {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        padding: 1rem;

        justify-content: space-between;

        .spacer {
          display: none;
        }

        div {
          display: flex;
          flex-direction: column;
        }
      }
      p {
        margin-top: 0.5rem;
        margin-bottom: 0;
      }

      h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
        margin-bottom: 0.5rem;
      }
      a {
        color: inherit;

        &:hover {
          color: rgb(var(--accent));
        }
      }

      a:active {
        color: rgb(var(--accent));
      }

      .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
      }

      .link-card:is(:hover, :focus-within),
      .header a > div:is(:hover, :focus-within) {
        background-position: 0;
        background-image: var(--accent-gradient);
      }
      .link-card:is(:hover, :focus-within) h2 {
        color: rgb(var(--accent));
      }

      @media screen and (min-width: 480px) {
        main {
          padding: 0 1.5rem;
        }

        footer {
          padding: 2rem;
          white-space: preserve-spaces;

          div {
            flex-direction: row;

            a {
              display: flex;

              [data-icon] {
                font-size: 1.2rem;
                margin: auto;
              }
            }
          }
          .spacer {
            display: unset;
          }
        }
      }

      @media screen and (min-width: 968px) {
        main {
          padding: 0 2rem;
        }

        footer {
          flex-direction: row;
        }
      }
    </style>
  </body>
</html>
