---
import Navigation from "@components/Navigation.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Panelist info presentation" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
    color: #444;
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }

  * {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  main {
    padding: 0 1rem;
    max-width: 50ch;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  a:active {
    color: rgb(var(--accent));
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .link-card:is(:hover, :focus-within),
  .header a > div:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent));
  }

  @media screen and (min-width: 428px) {
    body {
      flex-direction: row;
    }

    main {
      padding: 0 1.5rem;
      max-width: 50ch;
    }
  }

  @media screen and (min-width: 768px) {
    main {
      padding: 0 2rem;
      max-width: 70ch;
    }
  }
</style>
